body{
  width:70%;
  margin:auto;
  background-color:#004745;
}

#logo{
  width:60%;
  float:left;
}

#span-icons{
  margin-top: auto;
  margin-bottom:20px;
}

i{
  width:80px;
}

.letter-color{
  color:white;
}

a:hover {
  color: yellow;
}

.publication{
  padding-left:30px;
  padding-top:30px;
}

.image{
  padding-left: 30px;
  width:100%;
  position:absolute;
  top:0;
  left:0;
}

.solid-black{
  border:2px solid black;
  min-height:200px;
}

.main{
  display:flex;
  text-align: left;
  width:60%;
}

#id_comment{
  width:100%;

}
